.nav1
{
    padding-left: 950px;
    padding-top: 50px;
}
.nav2
{
    padding-top: 20px;
}

.book
{
    padding-top: 30px;
    padding-bottom: 20px;
}
.btn
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.book2
{
    padding-left: 70px;
    padding-top: 30px;
}
.web
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.web2
{
    background-color: #C0C0C0;
}
.client
{
    padding-top: 50px;
    padding-bottom: 30px; 
    color: white;
}
.client1
{
    background-color: black;
}
.logo-1
{
    padding-left: 140px;
}
